body {
    background-color: #fff;
    font-family: open sans, helvetica neue, Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #777;
    }
}

td, th {
    text-align: center;
}

thead {
    background-color: #ffffff;
}

.container {
    width: calc(1127px + 2rem);
    padding: 0;
    max-width: 1500px;
}

#main {
    margin: 5vh auto;
    height: 40vh;
    text-align: center;
}

#main h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300 !important;
}

#logo {
    margin: 1vh auto;
    height: 30vh;
    display: block;
}

table {
    font-family: 'Spartan', sans-serif;
    border-radius: 5px;
    width: 100%;
}

th {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
}

td {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px !important;
}
.col {
    display: block;
}

.logo {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    margin-right: .8em;
}

.site-name {
    text-align: center;
    margin: auto 0;
}

.social-button {
    width: 10vw;
    color: white;
}

.twitter-button {
    background-color: dodgerblue;
}

.facebook-button {
    background-color: #3b5998;
}

.email-button {
    background-color: #ea4235;
}

.u2f-icon {
    width: min-content;
    margin: auto;
}

.u2f-icon>img {
    text-align: center;
    margin: auto
}

.fa-book, .tfa-icon {
    font-size: 20px;
}

.tfa-icon {
    color: #2c662d;
}

.fas, .fab {
    line-height: inherit;
}

.social-button-group {
    display: inline-block;
}

.icon-cell {
    width: 12%;
}

.cat {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 90vw;
    z-index: 1000;
    -webkit-appearance: none;
    border-radius: 0;
}

.category-table, table {
    width: 100%;
}

.cat > h5 {
    box-sizing: border-box;
    display: inline-block;
    float: none;
    position: static;
}

.category-title {
    box-sizing: border-box;
    display: inline;
    float: none;
    line-height: 23.16px;
    position: static;
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
}

h5:first-child {
    margin-top: 0;
}

.category-icon {
    border-radius: 50%;
    background-color: #fff;
    border: solid #fff 1.5vh;
    font-size: 36px;
    margin: auto 18px;
    height: 73px;
    width: 73px;
    text-align: center;
}

.category-row {
    margin: 2vh auto;
}
