---
layout: default
---
<div class="row justify-content-start category-row">

    {% assign rowcount = 0 %}
    {% for section in site.data.sections %}
        {% assign rowend = forloop.index | modulo: 5 %}
        {% if rowend == 0 or forloop.index == forloop.length %}

            {% include category-button.html %}

            {% include mobile-table.html id-param=section.id title-param=section.title %}
            {% assign offcount = 5 | times: rowcount %}
            {% for section in site.data.sections limit: 5 offset: offcount %}
                {% include table.html id-param=section.id title-param=section.title %}
            {% endfor %}
        </div>
        {% if forloop.index != forloop.length %}
            {% assign rowcount = rowcount | plus: '1' %}
            <div class="row justify-content-start category-row">
            {% endif %}
        {% else %}

            {% include category-button.html %}
            {% include mobile-table.html id-param=section.id title-param=section.title %}

        {% endif %}
    {% endfor %}
</div>