---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
        <meta name="msapplication-TileColor" content="{{ site.theme_color }}">
        <meta name="description" content="{{ site.description }}">
        <meta name="theme-color" content="{{ site.theme_color }}">
        <meta name="application-name" content="{{ site.title }}">
        <meta property="og:title" content="{{ site.title }}">
        <meta property="og:url" content="{{ site.url }}">
        <meta property="og:description" content="{{ site.description }}">
        <meta property="og:image" content="https://twofactorauth.org/img/logo.png">
        <meta property="og:type" content="website">
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:title" content="{{ site.title }}">
        <meta property="twitter:creator" content="{{ site.author }}">
        <meta property="twitter:site" content="{{ site.twitter }}">
        <meta property="twitter:image" content="{{ site.social_image }}">
        <meta property="twitter:description" content="{{ site.description }}">
        <title>{{ site.title }}</title>
        {% include icons.html %}
        <link rel="manifest" href="/manifest.json">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:300|Spartan:500&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous" integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y="/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" crossorigin="anonymous" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="/>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/desktop-table.css">
        <link rel="stylesheet" href="/css/social-media.css">
    </head>

    <body>

        <div class="container">
            <div id="main">
                <img id="logo" src="/img/icons/icon.svg" alt="">
                <h2>Two Factor Auth (2FA)</h2>
                <div class="sub header">List of websites and whether or not they support
                    <a href="https://en.wikipedia.org/wiki/Two-factor_authentication">2FA</a>.
                </div>
            </div>

            {{ content }}
        </div>

        <div class="footer">
            <div id="innerFooter">Created by <a href="https://joshldavis.com">Josh Davis</a> and maintained by <a href="https://github.com/2factorauth">2factorauth</a></div>
            <div id="buildNumber" class="desktop-only">Build: {{ site.github.build_revision | slice: 0,7 }}</div>
        </div>

        <script crossorigin="anonymous" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script crossorigin="anonymous" integrity="sha256-WqU1JavFxSAMcLP2WIOI+GB2zWmShMI82mTpLDcqFUg=" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>
